@page "/change-password"
@attribute [Authorize]
@using SpeedwayTyperApp.Shared.Models
@inject HttpClient Http
@inject NavigationManager Navigation

<AuthorizeView>
    <Authorized Context="_">
        <div class="change-password-box">
            <div class="change-password-container">
                <h3>Zmień Hasło</h3>
                <EditForm Model="changePasswordModel" OnValidSubmit="HandleChangePassword">
                    <DataAnnotationsValidator />
                    <ValidationSummary />
                    <div class="form-group">
                        <RadzenPassword @bind-Value="changePasswordModel.CurrentPassword" Placeholder="Obecne Hasło" class="form-control" />
                    </div>
                    <div class="form-group">
                        <RadzenPassword @bind-Value="changePasswordModel.NewPassword" Placeholder="Nowe Hasło" class="form-control" />
                    </div>
                    <div class="form-group">
                        <RadzenPassword @bind-Value="changePasswordModel.ConfirmNewPassword" Placeholder="Potwierdź Nowe Hasło" class="form-control" />
                    </div>
                    <RadzenButton ButtonType="ButtonType.Submit" Text="Zmień Hasło" class="btn" />
                </EditForm>
            </div>
        </div>
    </Authorized>
    <NotAuthorized>
        <RedirectToLogin />
    </NotAuthorized>
</AuthorizeView>

@code {
    private ChangePasswordModel changePasswordModel = new ChangePasswordModel();

    private async Task HandleChangePassword()
    {
        var response = await Http.PostAsJsonAsync("api/Auth/change-password", changePasswordModel);
        if (response.IsSuccessStatusCode)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            // Handle error (show message to user)
        }
    }
}
