@page "/leaderboard"
@using SpeedwayTyperApp.Shared.Models
@inject HttpClient Http

<div class="container">
    <div class="banner"></div>
    <h3>Tabela wyników</h3>
    <RadzenGrid Data="@_users" class="custom-grid">
        <Columns>
            <RadzenGridColumn TItem="User" Property="UserName" Title="Nazwa użytkownika" />
            <RadzenGridColumn TItem="User" Property="TotalPoints" Title="Punkty" />
            <RadzenGridColumn TItem="User" Property="AccurateMatchResults" Title="Dokładne wyniki" />
        </Columns>
    </RadzenGrid>
</div>

@code {
    private List<User> _users = new List<User>();

    protected override async Task OnInitializedAsync()
    {
        _users = await Http.GetFromJsonAsync<List<User>>("api/Users");
    }
}