@inherits LayoutComponentBase
@using Radzen
@using Radzen.Blazor

<RadzenHeader>
    <RadzenHeaderRow>
        <RadzenHeaderColumn Width="100%">
            <h1>Speedway Typer</h1>
        </RadzenHeaderColumn>
    </RadzenHeaderRow>
</RadzenHeader>

<main>
    <article>
        @Body
    </article>
</main>