@page "/matches"
@using SpeedwayTyperApp.Shared.Models
@inject HttpClient Http

<div class="container">
    <div class="banner"></div>
    <h3>Mecze</h3>
    <RadzenTabs>
        @foreach (var round in _rounds)
        {
            <RadzenTabsItem Text=@($"Runda {round}")>
                <RadzenGrid Data="@_matches.Where(m => m.Round == round)" class="custom-grid">
                    <Columns>
                        <RadzenGridColumn TItem="Match" Property="HostTeam.Name" Title="Drużyna gospodarzy" />
                        <RadzenGridColumn TItem="Match" Property="GuestTeam.Name" Title="Drużyna gości" />
                        <RadzenGridColumn TItem="Match" Property="HostTeamScore" Title="Wynik gospodarzy" />
                        <RadzenGridColumn TItem="Match" Property="GuestTeamScore" Title="Wynik gości" />
                    </Columns>
                </RadzenGrid>
            </RadzenTabsItem>
        }
    </RadzenTabs>
</div>

@code {
    private List<Match> _matches = new List<Match>();
    private List<int> _rounds = new List<int>();

    protected override async Task OnInitializedAsync()
    {
        _matches = await Http.GetFromJsonAsync<List<Match>>("api/Matches");
        _rounds = _matches.Select(m => m.Round).Distinct().ToList();
    }
}